body {
    background: url("Images/pingouin.png");
    background-size: 100%;
    /*background-position-y: 6%;*/
    background-color: rgb(119, 136, 68);
    color: black;
}

h1 {
    color: #8E15F1;
}

h2 {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

section {
    background-color: rgba(186, 122, 94, 0.5);
}

article {
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(220, 61, 47, 0.5);
}
article div {
    grid-row: 1;
    grid-column: 1;
}

article .img {
    grid-row: 1;
    grid-column: 1;
    opacity: 50%;
    background-image: url("Images/pingouin.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 25vh;
}

cite {
    color: white;
}

.valide {
    color: white;
}