article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding: 0 50px;
    color: white;
}

article .image {
    text-align: center;
    font-size: 100px;
    height: min-content;
    vertical-align: middle;
}

.image p {
    margin: 0px;
}


@keyframes hover-in {
    to {
        color: #344e5c;
    }
}

@keyframes hover-out {
    to {
        color: #ffffff;
    }
}

.portfolio :nth-child(1) {
    margin-top: 0;
}

article h2 {
    width: 100%;
    font-size: 64px;
    margin-bottom: 0;
}

article p {
    font-size: 20px;
}

hr {
    width: 175px;
    border: 5px solid #5CD85A;
    border-radius: 10px;
    justify-self: left;
    color: #5CD85A;
    background-color: #5CD85A;
    opacity: 1;
    margin-bottom: 5%;
    margin-top: 1%;
    margin-left: 0;
}

article ul {
    list-style: "➜ ";
}

article ul ul {
    list-style: "↳ ";
}