/*! Paramètre par défaut !*/
body {
    margin: 0px;
    min-height: 107vh;
    display: flex;
    flex-direction: column;
    /*background: linear-gradient(to bottom, #3a0048, #C04848);*/
    background-color: #08313A;
}

/*? Header */
header {
    display: flex;
    justify-content: center;
    animation: slide-in-blurred-top .7s ease-out backwards;
    animation-delay: 250ms;
    margin-bottom: 50px;
}

header .all_button {
    display: flex;
    background-color: #333;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 8px black;
}

header a {
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

header a:hover {
    background-color: whitesmoke;
    color: black;
}

header a.active {
    background-color: #04aa3b;
}

/*? Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #316e7c;
}

footer p,
footer a {
    color: black;
}

/*? Contenue de la page(bloc) */
.contenu-page {
    flex: 1;
    margin: 5px;
}



/** Reste */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
    color: white;
}
ul ul {
    padding-left: 0;
}
.button {
    text-decoration: none;
    color: #25425a;
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
    font-family: "Bangers";
    background-color: #323232;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.download {
    animation: download-out 0.3s ease-in;
    animation-fill-mode: forwards;
    background-color: #04aa3b;
}

.download:hover {
    animation: download-in 0.3s ease-in;
    animation-fill-mode: forwards;
}

.contenu-page {
    animation: focus-in 1s ease-out both;
}

@keyframes download-in {
    from {
        background-color: #04aa3b;
    }

    to {
        background-color: #344e5c;
        color: #04aa3b;
    }
}

@keyframes download-out {
    from {
        background-color: #344e5c;
    }

    to {
        background-color: #04aa3b;
        color: #323232;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred
 * ----------------------------------------
 */

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation focus-in
 * ----------------------------------------
 */

@keyframes focus-in {
    0% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}